.container-outer-card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  z-index: -4;
  box-shadow: 2px 2px 10px #888888;
  width: 100%; }
  .container-outer-card .container-inner-card {
    margin: 6px;
    padding: 6px;
    background-color: white;
    z-index: -3; }

.container-parallax {
  width: 100%;
  background-repeat: no-repeat;
  height: 500px; }

.contact-container {
  display: inline-block;
  float: left;
  width: 100%; }
  .contact-container .contact-details {
    font-size: 24px; }


.container {
  width: 1040px;
  display: block;
  margin: auto;
  text-align: center; }
  .container .header-container {
    background-color: white;
    opacity: 0.9;
    margin: 6px; }
    .container .header-container .qick-nav-container .separater {
      font-size: 18px;
      color: rgba(0, 100, 200, 0.9);
      padding: 10px; }
    .container .header-container .qick-nav-container .nav {
      padding: 10px; }
    .container .header-container .nav-home {
      position: fixed;
      top: 20px;
      left: 20px;
      opacity: 0.9;
      width: 60px;
      height: 60px;
      z-index: 60; }
    .container .header-container .title {
      font-size: 48px;
      font-weight: 600; }
    .container .header-container .sub-title {
      font-size: 36;
      font-weight: 300; }
  .container .main-container .main-container-parallax {
    width: 100%; }
  .container .main-container .mission-message {
    margin: 6px;
    font-size: 24;
    font-weight: 300; }

.container-outer-card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  z-index: -4;
  box-shadow: 2px 2px 10px #888888;
  width: 100%; }
  .container-outer-card .container-inner-card {
    margin: 6px;
    padding: 6px;
    background-color: white;
    z-index: -3; }

.container-parallax {
  width: 100%;
  background-repeat: no-repeat;
  height: 500px; }

.container-outer-card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  z-index: -4;
  box-shadow: 2px 2px 10px #888888;
  width: 100%; }
  .container-outer-card .container-inner-card {
    margin: 6px;
    padding: 6px;
    background-color: white;
    z-index: -3; }

.container-parallax {
  width: 100%;
  background-repeat: no-repeat;
  height: 500px; }

.projects-container {
  display: block;
  width: 100%; }
  .projects-container .projects-header {
    display: inline;
    text-align: center;
    font-size: 24px;
    width: 30px; }
    .projects-container .projects-header .projects-quick-nav-container {
      width: 30%;
      display: inline; }
      .projects-container .projects-header .projects-quick-nav-container .nav-item {
        width: 60px; }
  .projects-container .project-ideas-container .project-details-container {
    text-align: left; }
    .projects-container .project-ideas-container .project-details-container .main-details .name {
      font-size: 32px;
      font-weight: bolder; }
    .projects-container .project-ideas-container .project-details-container .main-details .link {
      font-size: 18px; }
    .projects-container .project-ideas-container .project-details-container .main-details .description {
      display: inline-block;
      float: left; }
      .projects-container .project-ideas-container .project-details-container .main-details .description .descritor {
        width: 30%;
        margin: 6px;
        font-size: 22px; }
      .projects-container .project-ideas-container .project-details-container .main-details .description .actual-text {
        font-size: 16px;
        width: 100%; }
    .projects-container .project-ideas-container .project-details-container .discussion-container {
      display: inline-block;
      width: 100%; }
      .projects-container .project-ideas-container .project-details-container .discussion-container .problem {
        text-align: left;
        display: inline-block;
        float: left; }
        .projects-container .project-ideas-container .project-details-container .discussion-container .problem .descritor {
          width: 30%;
          margin: 6px;
          font-size: 22px; }
        .projects-container .project-ideas-container .project-details-container .discussion-container .problem .actual-text {
          width: 100%;
          font-size: 16px; }
      .projects-container .project-ideas-container .project-details-container .discussion-container .project-solutions-container {
        text-align: left; }
        .projects-container .project-ideas-container .project-details-container .discussion-container .project-solutions-container .project-proposed-solutions .solution {
          font-size: 14px; }
      .projects-container .project-ideas-container .project-details-container .discussion-container .references-container {
        text-align: left; }
        .projects-container .project-ideas-container .project-details-container .discussion-container .references-container .reference {
          float: right;
          width: 60%; }

.container-outer-card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  z-index: -4;
  box-shadow: 2px 2px 10px #888888;
  width: 100%; }
  .container-outer-card .container-inner-card {
    margin: 6px;
    padding: 6px;
    background-color: white;
    z-index: -3; }

.container-parallax {
  width: 100%;
  background-repeat: no-repeat;
  height: 500px; }

.team-container {
  display: block;
  width: 100%;
  z-index: 3; }
  .team-container .team-member-container {
    height: 100%; }
    .team-container .team-member-container .team-member .team-member-details {
      display: inline-block;
      text-align: left;
      margin: 6px;
      padding: 10px;
      width: 100%; }
      .team-container .team-member-container .team-member .team-member-details .team-member-name {
        font-size: 36px;
        font-weight: bolder;
        width: 50%; }
      .team-container .team-member-container .team-member .team-member-details .team-member-title {
        font-size: 24px;
        font-weight: bold;
        width: 30%; }
      .team-container .team-member-container .team-member .team-member-details .team-member-description {
        font-size: 18px;
        width: 80%; }
      .team-container .team-member-container .team-member .team-member-details .socail-container {
        text-align: center; }
        .team-container .team-member-container .team-member .team-member-details .socail-container .member-links {
          display: inline;
          margin: auto; }
    .team-container .team-member-container .team-member .profile-picture-container .profile-picture {
      width: 160px;
      height: 160px;
      position: relative;
      top: 60;
      left: 30;
      z-index: 2; }
    .team-container .team-member-container .team-member .profile-picture-container .alter-ego {
      position: relative;
      width: 120px;
      height: 140px;
      top: 26px;
      left: 74px;
      z-index: 1; }

.vote-smart-local-sampler {
  margin: 20px; }
  .vote-smart-local-sampler .voter-results-info table thead th {
    text-align: center; }
  .vote-smart-local-sampler .voter-results-info table tbody tr td {
    text-align: center; }
