<!-- <div class="parallax-container main-container-parallax">
    <div id="parallax" class="parallax"><img src="/app/images/water-drop-wallpaper-3.jpg"></div>
</div> -->
<div class="container-parallax">
    <div class="" ng-parallax pattern="'/app/images/water-drop-wallpaper-3edit.jpg'" speed="1" reverse="true"></div>
</div>
<div id="contact" class="contact-container">
    <h3>Contact</h3>
    <div class="contact-details">
        <span>Joseph Richardson: <a>jrichardson@jmstudios.net</a></span>
    </div>
</div>
<!-- <script src="/app/js/parallax-init.js"></script> -->
