
<div id="home" class="main-container">
    <h1>Home</home>
    <div class="tile">
        <span class="mission-message">Creating solutions for the problems I want to tackle.</span>
    </div>
    <!-- <projects></projects> -->

    <div class="parallax-container main-container-parallax">
        <div id="parallax" class="parallax"><img src="/app/images/milky-way.jpg"></div>
    </div>

    <downloads></downloads>
    <div class="parallax-container main-container-parallax">
        <div id="parallax" class="parallax"><img src="/app/images/bamboo-forest-by-rolf-hartbrich.jpg"></div>
    </div>



    <team></team>

    <div class="parallax-container main-container-parallax">
        <div id="parallax" class="parallax"><img src="/app/images/water-drop-wallpaper-3.jpg"></div>
    </div>
    <contact></contact>
    <script src="/app/js/parallax-init.js"></script>
</div>
