<html ng-app="jmstudios-app">
<head>
    <title>JMStudios</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <!--Import materialize.css-->


    <link type="text/css" rel="stylesheet" href="/app/public/styling.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<!--Import Google Icon Font-->

<body id="home" class="container" >

    <div class="header-container tile">
        <div class="title">JMStuidos</div>

        <span class="waves-effect waves-light sub-title">Just Making Solutions Studios</span>
        <div class="qick-nav-container">
            <a href="#home" class="nav-home "><i class="mdi mdi-arrow-up-bold-circle-outline"></i></a>
            <a href="#projects" class="nav">Projects</a><span class="separater">|</span>
            <a href="#downloads" class="nav">Downloads</a><span class="separater">|</span>
            <a href="#team" class="nav">Team</a><span class="separater">|</span>
            <a href="#contact" class="nav">Contact</a>
        </div>
    </div>

    <div class="parallax-container main-container-parallax">
        <div id="parallax" class="parallax"><img src="/app/images/space-earth-stratosphere-wallpaper-1.jpg"></div>
    </div>
    <div class="main-container">
        <div class="tile">
            <span class="mission-message">Creating solutions for the problems I want to tackle.</span>
        </div>
        <projects></projects>

        <div class="parallax-container main-container-parallax">
            <div id="parallax" class="parallax"><img src="/app/images/milky-way.jpg"></div>
        </div>

        <downloads></downloads>
        <div class="parallax-container main-container-parallax">
            <div id="parallax" class="parallax"><img src="/app/images/bamboo-forest-by-rolf-hartbrich.jpg"></div>
        </div>



        <team></team>

        <div class="parallax-container main-container-parallax">
            <div id="parallax" class="parallax"><img src="/app/images/water-drop-wallpaper-3.jpg"></div>
        </div>
        <contact></contact>

    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script src="/app/js/parallax-init.js"></script>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
      <script src="/app/js/main.js"></script>
      <script src="/app/js/contact.js"></script>
      <script src="/app/js/team.js"></script>
      <script src="/app/js/downloads.js"></script>
      <script src="/app/js/jmstudios-projects.js"></script>

</body>
</html>
