<div id="projects" class="projects-container">
    <div class="projects-header">
        <h1>Projects</h1>

            <div class="projects-quick-nav-container" ng-repeat="project in currentProjects | orderBy: 'position' ">
                | <a class="nav-item" ui-sref="projects" ng-href="#{{project.name}}">{{project.name}}</a> |
            </div>

    </div>
    <div class="project-ideas-container" ng-repeat="project in currentProjects | orderBy: 'position'">
        <div id="{{project.name}}" class="container-outer-card">
            <div class="container-inner-card">
                <div class="project-details-container">
                    <div class="main-details">
                        <div >
                            <!-- <img ng-src="{{project.logo}}" > -->
                        </div>
                        <div class="name">
                            Name: {{project.name}} <a ng-href="{{project.github.link}}"> <i class="mdi {{project.github.icon}}"></i></a>
                        </div>
                        <div ng-if="project.link != ''" class="link">
                            <a ng-href="{{project.link}}">{{project.link}}</a>( If link broken then please contact Joseph email in <a ng-href="#contact">Contact</a> )
                        </div>

                        <div class="description">
                            <div class="descritor">Description:</div>
                            <div class="actual-text">{{project.description}}</div>
                        </div>
                        <div ng-if="project.name == 'Vote Smart Locally'" class="project-sample">
                            <vote-smart-local></vote-smart-local>
                        </div>


                    </div>
                    <hr >
                    <div class="discussion-container">

                        <div class="problem">
                            <div class="descritor">The Problem:</div>
                            <div class="actual-text">{{project.problem}}<div>
                        </div>

                        <div ng-if="project.references.length != 0" class="references-container">
                            <hr >
                            References:
                            <div class="reference" ng-repeat="reference in project.references">
                                {{reference}}
                            </div>
                        </div>

                        <div ng-if="project.solutions.length != 0" class="project-solutions-container">
                            <hr >
                            Solutions:
                            <div class="project-proposed-solutions" ng-repeat="solution in project.solutions">
                                <li class="solution">{{solution}}</li>
                            </div>
                        </div>
                        <hr >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
