<h1>The team</h1>
<div class="team-container">
    <div ng-repeat="member in teamMembers track by $index">
        <div class="profile-picture-container" >
            <img class="alter-ego circle responsive-img" ng-src="/app/images/me.jpg">
            <img class="profile-picture circle responsive-img" ng-src="/app/images/profilepic.jpg">
        </div>
        <div class="team-member-details">
            <span class="team-member-name">{{member.name}}</span><br >
            <span class="team-member-title">{{member.title}}</span><br >
            <hr >
            <div class="team-member-description">
                {{member.description}}
            </div>
            <div ng-repeat="link in member.links">
                <li><a ng-href="{{link.url}}">{{link.name}}</a></li>
            </div>
        </div>
    </div>
</div>
