<div class="vote-smart-local-sampler">
    <div class="voter-info">
        <h3>Vote smart project sampler</h3>
        <span>1184 normandy drive cambpell ca 95008</span>
        <input type="text" ng-model="models.voterAddress">
        <button ng-click="findVoterInfo()">Submit</button>

    </div>

    <div ng-if="officials.length > 0" class="voter-results-officials">
        <h1>OFFICIALS</h1>
        <div ng-repeat="official in officials">
            {{official.name}}
        </div>
    </div>
    <div ng-if="offices.length > 0" class="voter-results-offices">
        <hr >
        <h1>OFFICES</h1>
        <div ng-repeat="office in offices">
            {{office.name}}
        </div>
    </div>
    <div ng-if="divisions.length > 0" class="voter-results-divisions">
        <hr >
        <h1>DIVISIONS</h1>
        <div ng-repeat="division in divisions">
            {{division}}
        </div>
    </div>
</div>
