<div class="vote-smart-local-sampler">
    <div class="voter-info">
        <h3>Vote smart project sampler</h3>
        <input type="text" ng-model="models.voterAddress">
        <button ng-click="findVoterInfo()">Submit</button>
        <button ng-click="testing()">testing</button>

    </div>
    <div class="voter-results-info">
        <table  ng-if="offices.length > 0">
            <thead>
                <tr>
                    <th>OFFICE</th>
                    <th>NAME</th>
                    <th>PARTY</th>
                    <th>PHONE</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="office in offices">
                    <td class="office-name">{{office.name}}</td>
                    <td class="official-name">{{officials[office.officialIndices[0]].name}}</td>
                    <td class="official-party">{{officials[office.officialIndices[0]].party}}</td>
                    <td class="official-phone-number">{{officials[office.officialIndices[0]].phones[0]}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div ng-if="elections.length > 0" >
        <hr >
        <h1>Elections</h1>{{elections.length}}
        <div ng-repeat="election in elections">
            {{election}}
        </div>
    </div>
</div>
