

.container {
    display: block;
    margin: auto;
    text-align: center;
    .header-container {

        background-color: white;
        opacity: 0.9;
        margin: 6px;

        .nav-home {
            position: fixed;
            top: 20px;
            left: 20px;
            opacity: 0.9;
            width: 60px;
            height: 60px;
            z-index: 60;
        }

        .title {
            font-size: 48px;
            font-weight: 600;
        }

        .sub-title {
            font-size: 36;
            font-weight: 300;
        }
    }

    .main-container {

        .main-container-parallax {
            width: 100%;
        }
        .mission-message {
            margin: 6px;
            font-size: 24;
            font-weight: 300;
        }
    }
}
