@import "most-used.scss";   //card looking containers from here

.projects-container {
    display: block;
    width: 100%;

    .projects-header {
        display: inline;
        text-align: center;
        font-size: 24px;
        width: 30px;

        .projects-quick-nav-container {

            width: 30%;
            display: inline;
            .nav-item {
                width: 60px;

            }
        }

    }
    .project-ideas-container {

        .project-details-container {
            text-align: left;

            .main-details {

                .name {
                    font-size: 32px;
                    font-weight: bolder;

                }

                .link {
                    font-size: 18px
                }

                .description {
                    display: inline-block;;
                    float: left;
                    .descritor {
                        width: 30%;
                        margin: 6px;
                        font-size: 22px;
                    }
                    .actual-text {
                        font-size: 16px;
                        width: 100%;
                    }
                }

                .repo {

                }

            }

            .discussion-container{
                display: inline-block;
                width: 100%;

                .problem {
                    text-align: left;

                    display: inline-block;
                    float: left;
                    .descritor {
                        width: 30%;
                        margin: 6px;
                        font-size: 22px;

                    }
                    .actual-text {

                        width: 100%;
                        font-size: 16px;

                    }

                }
                .project-solutions-container{
                    text-align: left;

                    .project-proposed-solutions {

                        .solution {
                            font-size: 14px;

                        }

                    }
                }

                .references-container {
                    text-align: left;

                    .reference {
                        float: right;
                        width: 60%;

                    }
                }
            }

        }
    }
}
