@import "most-used.scss";   //card looking containers from here

.projects-container {
    display: block;
    width: 100%;


    .projects-header {
        text-align: center;
        font-size: 24px;

    }
    .project-ideas-container {

        .project-details-container {
            text-align: left;

            .main-details {

                .name {
                    font-size: 32px;
                    font-weight: bolder;

                }

                .link {
                    font-size: 18px
                }

                .description {
                    font-size: 22px;
                    width: 80%;
                }

                .repo {

                }

            }

            .discussion-container{
                display: inline-block;
                width: 100%;

                .problem {
                    width: 80%;

                }
                .project-solutions-container{
                    text-align: left;

                    .project-proposed-solutions {

                        .solution {
                            width: 80%;

                        }

                    }
                }

                .references-container {
                    text-align: left;

                    .reference {
                        float: right;
                        width: 60%;

                    }
                }
            }

        }
    }
}
