.vote-smart-local-sampler {
    margin: 20px;
    .voter-info {
    }

    .voter-results-info {
        table {
            thead {
                th {
                    text-align: center;

                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                    }
                }
            }
        }
    }

}